<div fxLayout="column" fxLayoutGap="30px">
  <div *ngIf="usersList.length; else noUser">
    <div fxLayout="row wrap" fxLayoutGap="32px">
      <div *ngFor="let user of usersList; index as i">
        <div class="card card-ui">
          <div style="float: right; margin:15px;">
            <mat-icon (click)="removeUser(i)">close</mat-icon>
          </div>

          <div class="box">
            <div class="img">
              <div style="font-size: 65px;">{{user.name.charAt(0).toUpperCase()}}</div>
            </div>

            <h2>
              <span class="name">
                <mat-icon class="icon-role">face</mat-icon><span contenteditable="true" (blur)="editUser('name', i, $event.target.textContent)">{{user.name}}</span>
              </span><br>
              <span class="username">
                <mat-icon class="icon-role">perm_identity</mat-icon><span contenteditable="true" (blur)="editUser('username', i, $event.target.textContent)">{{user.username}}</span>
              </span><br>
              <span class="role">
                <mat-icon class="icon-role">next_week</mat-icon><span contenteditable="true" (blur)="editUser('role', i, $event.target.textContent)">{{user.role}}</span>
              </span><br>
              <span class="number">
                <mat-icon class="icon-number">phone</mat-icon><span contenteditable="true" (blur)="editUser('number', i, $event.target.textContent)">{{user.number}}</span>
              </span>
            </h2>
          </div>
        </div>

      </div>
    </div>
  </div>

  <ng-template #noUser>
    <div fxLayout="column" flexLayoutAlign="center center">
      <div fxFlex="100" fxFlexAlign="center" style="display: flex;place-items: center;height: 26vw;;">
        <div fxLayout="column wrap" fxLayoutAlign="center center" ngClass.xs="small">
          <h2 fxFlex style="color: #048f93; margin:0;text-align: center; font-family: sans-serif;">
            No Users :(
          </h2>

        </div>

      </div>
    </div>
  </ng-template>
</div>
